allow mediaserver ion_device:chr_file rw_file_perms;

allow crash_dump ion_device:chr_file rw_file_perms;

allow cameraserver ion_device:chr_file rw_file_perms;